<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>meRobot</title>
</head>
<body> 

  <!--<audio controls autoplay></audio>-->
  <audio controls></audio>
  <input onclick="startRecording()" type="button" value="start recording" />
  <input onclick="stopRecording()" type="button" value="stop recording and play" />
  
  <script src='/assets/vendor/jquery/dist/jquery.min.js'></script>
  <script src='/assets/vendor/axios/dist/axios.min.js'></script>
   <script src='/assets/vendor/recorder.js'></script>
  <script src='/assets/js/app.js'></script>
</body>
</html>